.control-label{ font-weight:normal; }
.control-label em {
    font-weight: bold;
    font-style: normal;

}
.results{font-size: large;}
.results .shiny-text-output{font-weight: bold;}

[sliderstate=qualitative] .control-label{font-style: italic;;}


#slGui2 .sliders{
  overflow-y: scroll;
  max-height: 70vh;
}

.tab-pane .tab-pane {
    overflow-y: scroll;
    max-height: 80vh;
}

.collapsed {
    font-size: 14px;
}
